/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #2E2575;
    color: #fff;
    padding: 20px 0;
    text-align: center;

    p {
        margin: 5px 0 0;
        font-size: 1.1rem;
        font-size: 16px;
    }

    h1 {
        margin: 0;
        font-size: 24px;
    }

}

/* Main Content Styles */
main {
    margin-top: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Flex Container */
.container {
    display: flex;
    gap: 20px;
}

/* Form Styles */
.registration-form {
    width: 300px;
    margin-bottom: 30px;

    h2 {
        color: #333;
    }
}


.form-row {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}



button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Records Section */
.records {
    flex: 2;
    /* Take more space for the table */
    min-width: 400px;

    /* Minimum width for the table */
    h2 {
        margin-top: 0;
        font-size: 1.8rem;
        color: #333;
    }


    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;

        thead {
            background-color: pink;
        }


        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #e9e9e9;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }



    }

    .edit {
        color: #ffff;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
        text-decoration: none;
        background-color: #ffc107;
        margin-right: 5px;

        &:hover {
            background-color: #ffca2c;

        }
    }


    .delete {
        color: #ffff;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
        text-decoration: none;
        background-color: #e3342f;

        &:hover {
            background-color: #f55d4b;

        }
    }



}





/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .registration-form {
        width: 100%;
    }

    .records {
        order: 2;
    }
}